build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
build/8ea4daae5f05d4ed370bcf9b843a9dde/gen_dart_plugin_registrant.stamp
build/app/intermediates/assets/debug/mergeDebugAssets/flutter_assets/kernel_blob.bin
build/app/intermediates/assets/debug/mergeDebugAssets/flutter_assets/NOTICES.Z
build/app/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/NOTICES.Z.jar
build/app/intermediates/dex/debug/mergeDexDebug/classes.dex
build/app/intermediates/dex_archive_input_jar_hashes/debug/out
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_assets/NOTICES.Z
build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/+y6SFNtLTSeuEO2cYf0m+Pat5JI=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/0s2PXQX55gsrgLc_7yPYjYe35Vw=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/2zilKVub+FwPVv+Eha5ZJ0jP2U8=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/3PA3pyiMHF0sTLWodigfrbGkYmk=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/6XozB1PncaOaWcSxsMbQX+B4N5c=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/7RBA0cL1QH+S09XBUVL7QRk801Q=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/9xCl1q8sRvDEvr9gSfEhhVgPX_M=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/61axjgYNRyn1gz3RDpsMBzJtsZM=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/BsqE496CuNQFlYb8vpiHKr__gNo=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/dQaL2VMyubRcxU9HZcRggkRyOmQ=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/egYZ0osCTZbfNvGsppIM7vTnFho=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/fl83Uarwp0R7FHoOk6c0yXIoiMg=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/HLAf4mFbYeaMCfbW8uQa_IFQI5c=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Lxbq+v3lV3zyIeAaxY7tumrmwvU=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/n0w2RfuLf58zbZk_7FFP6jxGKRw=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/N9jCGIG78wbwyv8zPUKNX4zZqvQ=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/nOy2Kdkil76KbIFE91gzf9LtwbM=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/OzAqFKfRr79KQaQSqkQr4Jofozg=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/R5PjDhXFBhcgpovN7M7T_II3u0k=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/S7YYkxSf1k+r3v5r8zm5zzhiovs=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/SbbB_Cw0FscM2_nfAoWTxO0OCgs=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/sU426GvY1p8ANijs33Gn8I5SEjg=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/tqSyL5nwjN2jjZx5hyEj5K9fWBE=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/vJY6CjZwDYnb1OvjL6PVyaDgnpA=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Y+jEXnXDGAd4cpRV5G9XTrDwrjI=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/YcAVjAfdk0yo+zXwpQ2gV7MOmcw=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Zb6ekXEgBpYMinlaUqav1ScnxfA=
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/javac/debug/classes/io/flutter/plugins/GeneratedPluginRegistrant.class
build/app/intermediates/project_dex_archive/debug/out/b058a678b0de670861408f3b1d3c058b9b224ab6f4fb4255a44b75d3f6cbea28_0.jar
build/app/intermediates/project_dex_archive/debug/out/b058a678b0de670861408f3b1d3c058b9b224ab6f4fb4255a44b75d3f6cbea28_1.jar
build/app/intermediates/project_dex_archive/debug/out/b058a678b0de670861408f3b1d3c058b9b224ab6f4fb4255a44b75d3f6cbea28_2.jar
build/app/intermediates/project_dex_archive/debug/out/b058a678b0de670861408f3b1d3c058b9b224ab6f4fb4255a44b75d3f6cbea28_3.jar
build/app/intermediates/project_dex_archive/debug/out/b058a678b0de670861408f3b1d3c058b9b224ab6f4fb4255a44b75d3f6cbea28_4.jar
build/app/intermediates/project_dex_archive/debug/out/f7ded22da197a629cc2d4352cda0933cb2a90272a8753acc9e5453576a3a1717_0.jar
build/app/intermediates/project_dex_archive/debug/out/f7ded22da197a629cc2d4352cda0933cb2a90272a8753acc9e5453576a3a1717_1.jar
build/app/intermediates/project_dex_archive/debug/out/f7ded22da197a629cc2d4352cda0933cb2a90272a8753acc9e5453576a3a1717_2.jar
build/app/intermediates/project_dex_archive/debug/out/f7ded22da197a629cc2d4352cda0933cb2a90272a8753acc9e5453576a3a1717_3.jar
build/app/intermediates/project_dex_archive/debug/out/f7ded22da197a629cc2d4352cda0933cb2a90272a8753acc9e5453576a3a1717_4.jar
build/app/intermediates/project_dex_archive/debug/out/io/flutter/plugins/GeneratedPluginRegistrant.dex
build/app/kotlin/compileDebugKotlin/build-history.bin
build/app/kotlin/compileDebugKotlin/last-build.bin
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/app/outputs/logs/manifest-merger-debug-report.txt
build/app/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
build/ios/pod_inputs.fingerprint
build/ios/Debug-iphonesimulator/App.framework/App
build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Info.plist
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Pods_Runner
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Headers/Pods-Runner-umbrella.h
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeDirectory
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeRequirements
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeRequirements-1
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeSignature
build/ios/Debug-iphonesimulator/Runner.app/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/shared_preferences_ios.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/shared_preferences_ios.framework/shared_preferences_ios
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/shared_preferences_ios.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.swiftmodule/arm64-apple-ios-simulator.swiftmodule
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/Info.plist
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/shared_preferences_ios
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/Headers/FLTSharedPreferencesPlugin.h
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/Headers/messages.g.h
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/Headers/shared_preferences_ios-umbrella.h
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/shared_preferences_ios/shared_preferences_ios.framework/_CodeSignature/CodeResources
build/ios/Pods.build/Release-iphonesimulator/Flutter.build/dgph
build/ios/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
build/ios/Pods.build/Release-iphonesimulator/shared_preferences_ios.build/dgph
build/ios/iphonesimulator/Runner.app/Info.plist
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/iphonesimulator/Runner.app/Frameworks/shared_preferences_ios.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/shared_preferences_ios.framework/shared_preferences_ios
build/ios/iphonesimulator/Runner.app/Frameworks/shared_preferences_ios.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/shared_preferences_android/.transforms/4725ef9e49bd820cd21366ba62711c9e/results.bin
build/shared_preferences_android/.transforms/4725ef9e49bd820cd21366ba62711c9e/transformed/classes/classes.dex
build/shared_preferences_android/generated/source/buildConfig/debug/io/flutter/plugins/sharedpreferences/BuildConfig.java
build/shared_preferences_android/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
build/shared_preferences_android/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
build/shared_preferences_android/intermediates/aar_main_jar/debug/classes.jar
build/shared_preferences_android/intermediates/aar_metadata/debug/aar-metadata.properties
build/shared_preferences_android/intermediates/annotation_processor_list/debug/annotationProcessors.json
build/shared_preferences_android/intermediates/annotations_typedef_file/debug/typedefs.txt
build/shared_preferences_android/intermediates/compile_library_classes_jar/debug/classes.jar
build/shared_preferences_android/intermediates/compile_r_class_jar/debug/R.jar
build/shared_preferences_android/intermediates/compile_symbol_list/debug/R.txt
build/shared_preferences_android/intermediates/incremental/debug-mergeJavaRes/merge-state
build/shared_preferences_android/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
build/shared_preferences_android/intermediates/incremental/mergeDebugShaders/merger.xml
build/shared_preferences_android/intermediates/incremental/packageDebugAssets/merger.xml
build/shared_preferences_android/intermediates/incremental/packageDebugResources/compile-file-map.properties
build/shared_preferences_android/intermediates/incremental/packageDebugResources/merger.xml
build/shared_preferences_android/intermediates/javac/debug/classes/io/flutter/plugins/sharedpreferences/BuildConfig.class
build/shared_preferences_android/intermediates/javac/debug/classes/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.class
build/shared_preferences_android/intermediates/javac/debug/classes/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl$1.class
build/shared_preferences_android/intermediates/javac/debug/classes/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl$1$1.class
build/shared_preferences_android/intermediates/javac/debug/classes/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.class
build/shared_preferences_android/intermediates/local_only_symbol_list/debug/R-def.txt
build/shared_preferences_android/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/shared_preferences_android/intermediates/merged_java_res/debug/feature-shared_preferences_android.jar
build/shared_preferences_android/intermediates/merged_manifest/debug/AndroidManifest.xml
build/shared_preferences_android/intermediates/navigation_json/debug/navigation.json
build/shared_preferences_android/intermediates/packaged_manifests/debug/output-metadata.json
build/shared_preferences_android/intermediates/runtime_library_classes_jar/debug/classes.jar
build/shared_preferences_android/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
build/shared_preferences_android/outputs/aar/shared_preferences_android-debug.aar
build/shared_preferences_android/outputs/logs/manifest-merger-debug-report.txt
build/shared_preferences_android/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
macos/Podfile
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
.dart_tool/flutter_build/89e13566f2dc0946c0cdb39f4cab0dce/.filecache
.dart_tool/flutter_build/89e13566f2dc0946c0cdb39f4cab0dce/app.dill
.dart_tool/flutter_build/89e13566f2dc0946c0cdb39f4cab0dce/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/89e13566f2dc0946c0cdb39f4cab0dce/flutter_assets.d
.gitignore
